
  .RecipeCard a{
    text-decoration: none;
  } 


  @media screen and (max-width: 1200px){
    .TitleAndDescription p{
      font-size: 0.8rem;
    }
  }
  @media screen and (max-width: 992px){
    .TitleAndDescription p{
      font-size: 0.8rem;
      width: 250px;
      margin-top: 5px;
    }
  }

 