  .recipeKey{
    background-color: rgb(201, 196, 190);
    border: 1px solid black;
    height: 7rem;
    display: flex;
    align-items: center;
    margin: 70px 0px;
  } 
  .TitleContainer{
    display: flex;
    align-items: center;
  }
  .recipekeyTitle{
    font-size: 1.6rem;
  }
  .key{
    font-size: 1.6rem;
    text-decoration: underline;
  }
  .keyName{
    font-size: 1rem;
    font-weight: bold;
  }
  @media screen and (max-width: 769px) {
    .recipeKeyContainer{
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .TitleContainer{
      display: flex;
      text-align: center;
      justify-content: center;
    }
    .recipeKeyIcons{
      justify-content: center;
    }
    .recipeKeyIcons{
      padding-bottom: 10px;
    }
  }
  @media screen and (max-width: 390px) {
    .recipekeyTitle{
      font-size: 1.5rem;
    }
    .key{
      font-size: 1.5rem;
      text-decoration: underline;
    }
    .keyName{
      font-size: 0.8rem;
      font-weight: inherit;
    }
  }